<div class="container">
  <div *ngIf='!hideDetails' class="btn btn-info" (click)='projectDetails()'>Show Details</div>
  <div *ngIf='hideDetails' class="btn btn-warning" (click)='hideProject()'>Hide Details</div>
</div>

<div class="container projects-main">
  <h2>All projects</h2><br>
  <table class="table table-hover text-center table-bordered">
    <tr class="first-row">
      <th class="text-center">Id</th>
      <th class="text-center">Project Name</th>
    </tr>
    <tr #selectedRow *ngFor='let project of projects' (click)='checkCurrentProject(currentID,selectedRow)'>
      <td #currentID>{{project.id}}</td>
      <td>{{project.name}}</td>
    </tr>
  </table>
</div>


<div *ngIf='showDetails' class="container projects-main">
  <h2>Selected Project Details</h2><br>
    <table class="table table-hover text-center">
      <tr>
        <th class="text-center">Id</th>
        <th class="text-center">Project Name</th>
        <th class="text-center">Start Date</th>
        <th class="text-center">End Date</th>
        <th class="text-center">Status</th>
      </tr>
      <tr >
        <td >{{currentProject.id}}</td>
        <td>{{currentProject.name}}</td>
        <td>{{currentProject.startDate}}</td>
        <td>{{currentProject.endDate}}</td>
        <td>{{currentProject.status}}</td>
      </tr>
    </table>
  </div>